
	<div class="row">
		<div class="col-md-2">
			<img src="{{ message.image }}" class="img-responsive img-rounded"/>
		</div>
		<div class="col-md-4">
            <ul class="pull-left">
                <li>{{ message.strnumr }}</li>
                <li>{{ message.postcod }} + {{ message.plaprov }}</li>
                <li>{{ message.vrprijs }}</li>
                <li>{{ message.sqprijs }}</li>
                <li>{{ message.woonopp }}</li>
            </ul>
		</div>
		<div class="col-md-4">
            <ul>
                <li><a href="{{ message.link }}">bekijk op funda</a></li>
                <li><a href="{{ message.dellink }}">verwijder op funda</a></li>
            </ul>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-default">
				Update
			</button>
		</div>
	</div>
